#banner.banner {
  margin-bottom: 10rem ;

  #carouselId {
    ol.carousel-indicators {
      z-index: 2;
    }
  }
  .homeTools {
    bottom: -50px;
    z-index: 2;
  }
  .homeTools__content {
    box-shadow: $box-shadow;
    background-color: white;
    .dropdown .dropdown-toggle[type="button"] {
      display:block;
      text-align: left;
    }
  }
}



