.icon__group img {
    width: 50px;
    height: 50px;
}

.icon__group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
.icon__right img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.right {
    text-align: center;
}
.icon__right {
    justify-content: center;
}
