// color
$white: white;
$black: black;
$grey: rgba(245,245,245,1);
$grey2:#a6b2c9;
$box-shadow: 0 0 10px rgba(0,0,0,.5);

/* Color Theme Swatches in Hex */

$ZIGZAG-1-hex: #E9204F;
$ZIGZAG-2-hex: #F24162;
$ZIGZAG-3-hex: #F2F2F2;

/* Color Theme Swatches in RGBA */

$ZIGZAG-1-rgba: rgba(242,29,46, 1);
$ZIGZAG-2-rgba: rgba(242,65,97, 1);
$ZIGZAG-3-rgba: rgba(242,242,242, 1);

